*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: whitesmoke;
}
h1{
	color: red;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	font-family: cursive;
}
.imagen{
	height: 1%;
	width: 100%;
}